.preloader#preloader
  .preloader__container#preloaderContainer 
    .preloader__logo
      .preloaderH#preloaderH
        +LogoTextHorizontal
      .preloaderV#preloaderV
        +LogoTextVertical
    .preloader__border
      .preloader__border-cover
  .preloader__slide#preloaderSlide
    +LogoSlide