
include base/utilities
include svg/logos

doctype html 
html(lang='en')
  head 
    include base/head
    title Quizit 
  body
    include layout/preloader
    include layout/header
    include layout/main

    .border#border
      .border__cover
    
    .gradient#gradient

    //-* Верстка компонентов
    //- include components/#dev
