mixin Burger
  <svg id="Burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.3 204.42">
    <g id="burger">
      <path id="top" d="M183.81,69.67a94.51,94.51,0,0,0-183.36,4A17.05,17.05,0,0,0,9.37,92.78a17,17,0,0,0,7.52,1.73H168.35a16.81,16.81,0,0,0,17-16.68,17,17,0,0,0-.54-4.38C184.47,72.18,184.16,70.92,183.81,69.67Z" />
      <g id="middle">
        <path id="middle1" d="M14.91,118.13H170.33A14.89,14.89,0,0,1,185.22,133h0a14.89,14.89,0,0,1-14.89,14.89H14.91A14.89,14.89,0,0,1,0,133H0A14.88,14.88,0,0,1,14.91,118.13Z" />
        <path id="middle2" d="M14.91,118.13H170.33A14.89,14.89,0,0,1,185.22,133h0a14.89,14.89,0,0,1-14.89,14.89H14.91A14.89,14.89,0,0,1,0,133H0A14.88,14.88,0,0,1,14.91,118.13Z" />
      </g>
      <path id="bottom" d="M14.91,174.64H170.33a14.89,14.89,0,0,1,14.89,14.89h0a14.89,14.89,0,0,1-14.89,14.89H14.91A14.88,14.88,0,0,1,0,189.53H0A14.89,14.89,0,0,1,14.91,174.64Z" />
    </g>
  </svg>

mixin Theme
  <svg id="Theme" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 472.39 472.39">
    <g id="theme">
      <path id="borderTheme" d="M403.21,167V69.18H305.38L236.2,0,167,69.18H69.18V167L0,236.2l69.18,69.18v97.83H167l69.18,69.18,69.18-69.18h97.83V305.38l69.18-69.18Zm-167,198.17a129,129,0,1,1,129-129A129,129,0,0,1,236.2,365.19Z" />
      <circle id="circleTheme" cx="236.2" cy="236.2" r="103.78" />
    </g>
  </svg>

mixin Sound 
  <svg id="Sound" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 130">
    <path id="speaker" d="M33.9,92.45H5.62A5.62,5.62,0,0,1,0,86.83v-45A5.63,5.63,0,0,1,5.62,36.2H33.9a15.92,15.92,0,0,0,9.79-3.36L85.09.65A3,3,0,0,1,90,3.05V125.61a3,3,0,0,1-4.91,2.4l-41.4-32.2A16,16,0,0,0,33.9,92.45Z" />
    <g id="volume" style="opacity: 0">
      <line x1="123.75" y1="47.45" x2="123.75" y2="81.2" />
      <line x1="146.25" y1="36.2" x2="146.25" y2="92.45" />
    </g>
    <g id="cross" style="opacity: 1">
      <line x1="151.88" y1="47.45" x2="118.13" y2="81.2" />
      <line x1="151.88" y1="81.2" x2="118.13" y2="47.45" />
    </g>
  </svg>