
include ../svg/icons

.menu#menu
  button.menu__button#menuButton(tabindex="-1")
    .menu__button-wrapper   
      .burger#burger
        +Burger
    .menu__button-border
  .menu__interface#menuInterface
    .menu__interface-wrapper
      .element
      .theme.element#theme
        +Theme
      .sound.element#sound          
        +Sound
    .menu__interface-border